<table width="100%" border="0" cellspacing="0" cellpadding="0" style="line-height:17px">

          <tr>
            <td colspan="3" align="left" valign="top" style="padding-top:10px; padding-bottom:10px"><strong>
              <a href="mailto:#recipient#">#recipient#</a> telah mengirimkan informasi kesempatan bergabung di MODENA Indonesia (<a href="http://www.modena.co.id">www.modena.co.id</a>) pada posisi #posisi#
            </strong></td>
            </tr>
          <tr>
            <td width="150" align="left" valign="top">Departemen</td>
            <td width="20" align="center" valign="top">:</td>
            <td align="left" valign="top">#departemen#</td>
          </tr>
          <tr>
            <td align="left" valign="top">Lokasi</td>
            <td align="center" valign="top">:</td>
            <td align="left" valign="top">#lokasi#</td>
          </tr>
          <tr>
            <td align="left" valign="top">Tanggal Posting</td>
            <td align="center" valign="top">:</td>
            <td align="left" valign="top">#tanggalposting#</td>
          </tr>
          <tr>
				<td colspan="3" style="padding-top:10px; padding-bottom:10px"><a href="http://www.modena.co.id/career_detail.php?id=#idx#">Klik disini untuk detail posisi yang ditawarkan</a>
					<div style="font-weight:bold">Email ini dikirimkan oleh support@modena.co.id atas permintaan dari <a href="mailto:#recipient#">#recipient#</a> melalui <a href="http://www.modena.co.id">modena.co.id</a>. 
					<a href="http://www.modena.co.id">modena.co.id</a> tidak melakukan verifikasi terhadap alamat email pengirim ataupun penerima.</div>				
				</td>          
          </tr>
        </table>