<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="200">Periode</td>
        <td width="10">:</td>
        <td>#periode#</td>
      </tr>
      <tr>
        <td>Tingkat pendidikan </td>
        <td>:</td>
        <td>#tingkatpendidikan#</td>
      </tr>
      <tr>
        <td>Nama institusi </td>
        <td width="10">:</td>
        <td>#namainstitusi#</td>
      </tr>
      <tr>
        <td>Bidang/jurusan</td>
        <td>:</td>
        <td>#bidangjurusan#</td>
      </tr>
      <tr>
        <td>Kelulusan</td>
        <td>:</td>
        <td>#kelulusan#</td>
      </tr>
    </table>