<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="200">Periode</td>
        <td width="10">:</td>
        <td>#periode#</td>
      </tr>
      <tr>
        <td>Nama perusahaan </td>
        <td>:</td>
        <td>#namaperusahaan#</td>
      </tr>
      <tr>
        <td>Alamat perusahaan </td>
        <td width="10">:</td>
        <td>#alamatperusahaan#</td>
      </tr>
      <tr>
        <td>Telepon</td>
        <td>:</td>
        <td>#teleponperusahaan#</td>
      </tr>
      <tr>
        <td>Jabatan awal </td>
        <td width="10">:</td>
        <td>#jabatanawal#</td>
      </tr>
      <tr>
        <td>Jabatan akhir </td>
        <td>:</td>
        <td>#jabatanakhir#</td>
      </tr>
      <tr>
        <td>Gaji terakhir (IDR) </td>
        <td width="10">:</td>
        <td>#gajiterakhir#</td>
      </tr>
      <tr>
        <td valign="top">Uraian pekerjaan </td>
        <td>:</td>
        <td valign="top">#uraianpekerjaan#</td>
      </tr>
    </table>