<div id="culinaria-main-content-space" style="padding-top:0px; float:left; width:100%; " class="culinaria-background">	
		<a id="culinaria-#image#"></a>
		<div id="culinaria-header-image-space" style="height:80px; overflow:hidden;  position:relative;">
			<img src="images/culinaria/header/#image#.jpg" style="width:100%; border:none; padding-top:32px" />
			<div id="culinaria-content-subtitle-space" class="font-grey-01-11"
				style="float:left; width:100%; text-align:center; font-size:11px; 
						letter-spacing:0.075em; font-size:normal; top:72px;">
					#subtitle#
			</div>
			<div id="culinaria-content-title-space"  class="font-grey-01-11"
				style="float:left; width:100%; text-align:center; font-size:36px !important; font-family:Manus !important;
						letter-spacing:0.075em; font-size:normal; position:absolute; top:20px;">
					#title#
			</div>
		</div>			
		<!--<div id="culinaria-content-left-space" 
			style="float:left; width:271px; margin-left:38px; text-align:left; line-height:27px; margin-right:37px; 
					letter-spacing:0.025em; ">
					#left#
			
		</div>-->
		<div id="culinaria-content-right-space" class="font-grey-02-12"
			style="padding:29px 0px 63px 0px; text-align:center; width:100%;
					line-height:25px; letter-spacing:0.05em; margin-top:0px">
					#right#			
		</div>
</div>
<style>
#culinaria-main-content-space{margin-top:0px !important}
#culinaria-header-image-space img, #culinaria-content-left-space{display:none !important}
#culinaria-content-title-space{margin-top:-10px !important}
#culinaria-content-right-space{
	max-width:100% !important; 
	margin:0px !important; 
}
</style>