<div id="culinaria-main-content" style="padding-top:0px; float:left; width:100%; border-bottom:none solid #CCC; " class="culinaria-background">	
		<a id="culinaria-#image#"></a>
		<div id="culinaria-header-image" style="height:480px; overflow:hidden;  position:relative; padding-top:20px">
			<img src="images/culinaria/header/#image#.jpg" style="height:100% !important; border:none; " />
			<div id="culinaria-content-subtitle" 
				style="float:left; width:100%; text-align:center; font-size:11px; color:#FFF;
						letter-spacing:0.075em; font-size:normal; position:absolute; top:224px;">
					#subtitle#
			</div>
			<div id="culinaria-content-title" 
				style="float:left; width:100%; text-align:center; font-size:36px; color:#FFF; font-family:Manus !important;
						letter-spacing:0.075em; font-size:normal; position:absolute; top:256px;">
					#title#
			</div>
		</div>			
		<!--<div id="culinaria-content-left" 
			style="float:left; width:271px; margin-left:38px; text-align:left; line-height:27px; margin-right:37px; 
					letter-spacing:0.025em; ">
					#left#
			
		</div>-->
		<div id="culinaria-content-right" class="font-grey-02-12"
			style="padding:64px 157px 63px 157px; text-align:center; 
					line-height:25px; letter-spacing:0.05em; margin-top:0px">
					#right#			
		</div>
</div>