<tr>
	<td id="column_product" valign="top" width="50px" style="padding-left:17px;">#index#</td>
	<td valign="top" id="column_product"><a href="#product_url#" class="link_white_nochange_hover_orange">
		<img src="images/product/tn#name#.png" style="background-color:#F0F0F3; margin-top:5px" border="0" width="75px" />
	</td>
	<td valign="top" style="padding:0px 17px 0px 47px" id="column_product">				
			#name#
			<div style="float:left; width:100%; line-height:normal">#keterangan_produk#</div>
			<div style="float:left; width:100%;">#lang_quantity#: #quantity# </div>
			<div style="padding:17px 0px 0px 0px">#lang_data_empty_stock#</div>
	</td>
	<td valign="top" id="column_product" style="padding:0px 0px 0px 17px">
		Rp<span style="text-decoration:line-through">#price_list_total#</span><br />
		#net_price_total#
	</td>
	<td valign="top" id="column_product" style="padding:0px 0px 0px 17px" class="hide-cell">
		<a href="javascript:void(0)" 
						onclick="member_account_order_delete('#categoryid#-#sub_categoryid#-#productid#')" 
						style="text-decoration:none">
						<img src="images/close.png" border="0" style="margin-top:0px; margin-right:-5px" />
					</a>
	</td>
</tr>
 <tr><td colspan="5" style="padding:13px 0px 13px 0px"><hr width="100%" style="border:none; border-bottom:solid 1px #A0A0A0" /></td></tr>
