<div style="margin-top:-3px; padding-bottom:17px">
	<table cellpadding="0" cellspacing="0" width="100%" border="0" id="shoppingcart-product-list" class="font-grey-02-12 member-account-information-column-container">
	<div style="width:100%; height:21px"><h3>Order No #order_no# (Culinaria MODENA)</h3></div>
      #s_order_detail#
     <tr>
	  <td id="column_summary" colspan="3" align="right">Subtotal</td>
	  <td  id="column_summary" colspan="2">: Rp#subtotal#</td>
	</tr>
	<tr>
	  <td id="column_summary" colspan="3" align="right">#lang_discount_coupon_title#</td>
	  <td id="column_summary" colspan="2">: #additional_discount_code#</td>
	</tr>
	<tr>
	  <td id="column_summary" colspan="3" align="right">#lang_discount#</td>
	  <td id="column_summary" colspan="2">: #s_discount#</td>
	</tr>
	<tr>
	  <td id="column_summary" colspan="3" align="right">Grand Total</td>
	  <td id="column_summary" colspan="2">: Rp#subtotal-$discount+$rs_order_list_["shippingcost"]#</td>
	</tr>
    </table>#s_note_discount#
    <hr width="100%" style="border:none; border-bottom:solid 1px #A0A0A0; display:none" />
    </div>