<tr>
            <td height="25px" style="padding-left:10px" align="right">
			<table width="100%" border="1" cellspacing="0" cellpadding="20px">
                <tr>
                  <td ><table width="100%" border="0" cellpadding="0" cellspacing="0" >
					<tr>
                        <td align="left" valign="bottom" style="font-family: Verdana, Tahoma, Arial; font-size:12px; padding:0px; letter-spacing:1px; "><strong>cooking</strong> | <strong>cleaning</strong> | <strong>cooling</strong></td>
                        <td align="right" valign="bottom"><img src="http://www.modena.co.id/images/logo.png" border="0" height="30px" alt="MODENA, Smart Living"/></td>
                      </tr>
					</table>
				  </td>
                </tr>
            </table>
		  <hr size="1" width="100%" />
			</td>
</tr>					  