<!--<td class="cell-product-compare">-->
	<div class="cell-product-compare" style="float:left; position:relative; margin:2px">
		<a href="javascript:void(0)" onclick="javascript:deletecompare(#productid#,Event);void(0);">
			<img src="images/close.png" id="close_#productid#" style="top:1px !important; right:1px !important;" alt="delete" />
		</a>
		<img src="#product-image#" border="0" id="product_compare_#productid#" alt="product ID #productid#"  class="img-product-compare" />
	</div>
<!--</td>-->