
<div class="select-style" style="float:left !important; margin-bottom:10px; width:235px">
													<select name="t_state" id="t_state" onchange="#action_state#" class="font-grey-01-11" style="font-size:11px !important;">
													#string_opsi_propinsi#
													</select>
												</div>
												<input type="text" name="t_city" id="t_city" size="35px" maxlength="110" value="" style="visibility:hidden; position:absolute" />
												<div class="select-style" style="float:left !important; width:235px">
													<select name="s_city" id="s_city" onchange="#action_region#" class="font-grey-01-11" style="font-size:11px !important; " #s_city_disabled#>
													#string_opsi_kota#
													</select>
												</div>									