 <style>
 .shoppingcart-header-product{
	background-color:#F0F0F3;
	line-height:32px;
 }
 #shoppingcart-product-list td{
	vertical-align:top;
	padding-right:11px;
 }
 #shoppingcart-summary td{
	line-height:27px;
 }
 #btn_continue_shopping div, #btn_add_to_cart div{
	width:225px !important; 
	height:37px !important; 
	line-height:33px; 
	font-size:14px; 
	font-weight:900; 
	letter-spacing:0.025em;
 }
 </style>
 <table cellpadding="0"  cellspacing="0" id="containertable" border="0" style="padding-bottom:30px" class="font-grey-01-12">
	<tr>
		<td style="height:32px">
			<div  id="sub_menu_navigation" class="category-sub-menu font-grey-03-11" style="display:block">
			<div style="float:left">
				Shopping Cart
				<div style="padding:32px 0px 16px 0px; font-weight:900; letter-spacing:0.025em" class="font-grey-01-14">Order</div>
			</div>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" height="100px">
			<table cellpadding="0" cellspacing="0" width="100%" border="0" id="shoppingcart-product-list">
				<tr>
					<td width="32px" class="category-sub-menu font-grey-03-11 shoppingcart-header-product" >&nbsp;</td>
					<td class="category-sub-menu font-grey-03-11  shoppingcart-header-product" >#lang_product#</td>
					<td width="130px" class="category-sub-menu font-grey-03-11 shoppingcart-header-product" >#lang_unitprice#</td>
					<td width="130px" class="category-sub-menu font-grey-03-11  shoppingcart-header-product" >#lang_afterdisc#</td>
					<td width="130px" class="category-sub-menu font-grey-03-11  shoppingcart-header-product" >#lang_quantity#</td>
					<td width="130px" class="category-sub-menu font-grey-03-11  shoppingcart-header-product" >Sub Total</td>
					<td width="32px" class="category-sub-menu font-grey-03-11  shoppingcart-header-product" >&nbsp;</td>
				</tr>			
				#shoppingcart_product_list#
				<tr><td colspan="7" height="16px">&nbsp;</td></tr>		
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top">			
			<table cellpadding="0" cellspacing="0" border="0" width="100%" class="font-grey-01-12">
				<tr>
					<td valign="top" width="40%">			
						<table cellpadding="0" cellspacing="0" width="100%" border="0" class="font-grey-01-12">							
							<tr>
								<td  class="category-sub-menu" style="font-weight:900; padding:16px 0px 7px; 0px; ">#availability_header#</td>
							</tr>
							<tr>
								<td style="padding:0px 32px 0px 0px">
									<div style="float:left; width:100%; margin-bottom:16px;" class="font-grey-02-12"><p style="width:71%; letter-spacing:0.05em; line-height:18px">#availability_content#</p></div>
									<div style="float:left; text-align:left; width:320px;" class="font-grey-02-12">#selectbox_state_region#</div>
								</td>
							</tr>											
						</table>		
					</td>
					<td>&nbsp;</td>
					<td valign="top"  width="40%" style="background-color:#F0F0F3; padding:16px">
						<table cellpadding="0" cellspacing="0" width="100%" border="0" class="font-grey-01-12">							
							<tr>
								<td  class="category-sub-menu" style="font-weight:900; padding:0px 16px 16px; 16px; ">Summary</td>
							</tr>
							<tr>
								<td style="padding:0px 16px 16px; 16px; ">
									<table cellpadding="0" cellspacing="0" border="0" width="100%" class="font-grey-01-12" id="shoppingcart-summary">
										<tr>
											<td width="50%">Sub Total</td><td>Rp#subtotal#</td>
										</tr>
										<tr>
											<td valign="top">#lang_promodeduction#</td>
											<td>
												<table cellpadding="0" cellspacing="0" width="100%" border="0" class="font-grey-01-12">
													#promodeduction#
												</table>
											</td>
										</tr>
										<tr>
											<td>#lang_shipping_cost#</td><td><span id="span_ship_cost"></span></td>
										</tr>
										<tr>
											<td colspan="2" style="" >
												<hr width="100%" style="border-top: 2px solid #A0A0A0;" size="1px" noshade />
											</td>
										</tr>
										<tr>
											<td class="font-grey-02-12" style="line-height:24pt; letter-spacing:0.05em">Grand Total</td>
											<td class="font-grey-02-12" style="line-height:24pt; letter-spacing:0.05em" id="column_grandtotal">Rp#discount_grandtotal#</td>
										</tr>
										<tr>
											<td colspan="2">#discount_note#</td>
										</tr>
										<tr>
											<td style="padding-top:17px" colspan="2">
												<table  cellpadding="0" cellspacing="0" border="0" width="100%" class="font-grey-01-12">
													<tr>														
														<td colspan="2" style="padding-bottom:32px">
														<div>
								<div  class="category-sub-menu font-grey-02-12" style="padding:0px 0px 7px; 0px; ">#lang_discount_coupon_info_2#</div>
								<div  style="padding:0px 32px 0px 0px">
									<div style="position:relative" class="input-container">
									    <!-- onkeydown="javascript:if(event.keyCode==13&&this.value!='')/*__discount_coupon(this, #subtotal#)*/session_check(this.id)" 
											onblur="/*__discount_coupon(this, #subtotal#)*/session_check(this.id)" title="#lang_discount_coupon_info#" -->
										<input type="text" name="t_discount_coupon" id="t_discount_coupon" value="#value_discount_coupon#" 
											style="width:153px; "
											class="content-style"
											#disabled# /><input type="button" name="b_discount_coupon" id="b_discount_coupon" value="#lang_use_discount_coupon#" onclick="session_check('t_discount_coupon')" />
										<div id="error_discount" class="error-empty-input"></div>
									   </div>
									<!--<div id="error_discount" style="padding:7px 0px 16px 0px"></div>					-->
									#lang_promocode_term#
								</div>
															</div>
														</td>
													</tr>
													<tr>
														<td valign="top" style="width:5px; padding:3px 7px 0px 0px">
															<input type="checkbox" name="cb_toc" id="cb_toc" value="true" style="float:left;" />
														</td>
														<td>
														<div style="position:relative" class="input-container">
															<div class="font-grey-02-12" style="line-height:23px">#lang_note_toc#</div>
															<div id="err_cb_toc" class="error-empty-input" title="#lang_notify_toc#"></div>
														</div>
														
															<div style="float:right; padding-top:27px">
																<a href="#link_questions#"
																	style="text-decoration:underline">#questions#?</a>
															</div>
														</td>
													</tr>
												</table>
											</td>
										</tr>										
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="padding-top:32px"><div class="cell-product-cmd-compare" style="text-align:center !important; vertical-align:bottom !important; padding:0px; margin-right:-11px; height:53px;">
													<a href="javascript:location.href='category-#categoryid#-#sub_categoryid#.php?sc=#sc_parameter#'" id="btn_continue_shopping">
														<div style="line-height:37px">#lang_continueshopping#</div>
													</a>
												</div></td>
					<td>&nbsp;</td>
					<td style="padding-top:32px"><div class="cell-product-cmd-compare" style="text-align:center !important; vertical-align:bottom !important; padding:0px; height:53px;">
													<a href="javascript:__validator();void(0)" id="btn_add_to_cart">
														<div style="line-height:37px">#lang_proceedtocheckout#</div>
													</a>
												</div></td>
				</tr>
			</table>
		</td>
	</tr>
	<input type="hidden" name="sc" id="sc" value="#sc_parameter#" />
</table>	
<script>
function session_check(trigger){
	var st = typeof trigger !== 'undefined' ? '&trigger='+trigger : ''
	var f=__create_iframe_otfly();f.src='shoppingcart.php?c=session_check' + st;
}
function __validator(){
	if(!__verified(document.getElementById('btn_add_to_cart')))
		return false;
	/*{alert('#lang_notify_select_shipping#');return false}
	document.getElementById('cb_toc').checked?*/
		session_check()/*:alert('#lang_notify_toc#')*/;
}
</script>