<tr>
	<td width="3px" valign="top">#index#</td>
	<td id="column_product_list" valign="top" align="center" width="111px">
		<img src="#product-image#" border="0" style="width:75px; background-color:#dcdcdc; padding:3px;"/></td>
	<td valign="top" style="line-height:18pt; letter-spacing:0.05em">
	<span>#name#<br />
	<!--Rp<span style="text-decoration:line-through">#price_list_total#</span><br />
	#net_price_total#<br />-->
	#lang_quantity#: #quantity#  
	<div style="padding:0px">#lang_data_empty_stock#</div>
	</span>	
	</td>	
</tr>
<tr><td colspan="3"><hr style="height:1px; border:none; border-bottom:1px solid #A0A0A0; width:100%" /></td></tr>	