<div style="width:100%">
<p>Terimakasih atas pendaftaran produk MODENA Anda. Kami segera melakukan verifikasi atas data registrasi Anda paling lambat dalam 10 hari kerja. <br />
Berikut adalah data yang telah Anda kirimkan
</p>
<p>
	Data Konsumen:
	<ul>
		<li>Nama : #nama_konsumen#</li>
		<li>Email : #email_konsumen#</li>
		<li>Alamat : #alamat_konsumen#</li>
		<li>Telepon / HP : #telepon/hp_konsumen#</li>
		<li>Tanggal Registrasi : #tanggal_registrasi#</li>
		<li>Data Klaim Cashback (Apabila ada) : #data_klaim_cashback#</li>
	</ul>
	Data Produk :
	#daftar_produk#
	<hr width="100%" />
	<p>Faktur Pembelian<br />#faktur_pembelian#</p>
</p>
</div>